<!-- attributeName=harm attribute=data.harm -->
<div class="track">
    {{log this}}
    {{#if (isBoolean attribute)}}
        {{#if attribute}}
            <span class="track-{{attributeName}} marked">
                <i class="fas fa-square"></i>
            </span>
        {{else}}
            <span class="track-{{attributeName}} unmarked">
                <i class="far fa-square"></i>
            </span>
        {{/if}}
    {{else}}
        <span class="track-{{attributeName}} marked">
            {{#times attribute.value}}
                <i class="fas fa-square"></i>
            {{/times}}
        </span>
        {{!-- TODO: Support a harm bar between 3 & 4 --}}
        <span class="track-{{attributeName}} unmarked">
            {{#times (sub attribute.max attribute.value)}}
                <i class="far fa-square"></i>
            {{/times}}
        </span>
    {{/if}}
</div>