<!-- attributeName=harm attribute=data.harm -->
<div class="track">
    {{#if (isBoolean attribute)}}
        {{#if attribute}}
            <span class="track-{{attributeName}} marked">
                <i class="fas fa-square"></i>
            </span>
        {{else}}
            <span class="track-{{attributeName}} unmarked">
                <i class="far fa-square"></i>
            </span>
        {{/if}}
    {{else}}
        {{#times attribute.max}}
        {{!-- TODO: Support a harm bar between 3 & 4 --}}
            {{#if (lt timesIndex attribute.value)}}
                <span class="track-{{attributeName}} marked">
                    <i class="fas fa-square"></i>
                </span>
            {{else}}
                <span class="track-{{attributeName}} unmarked">
                    <i class="far fa-square"></i>
                </span>
            {{/if}}
        {{/times}}
    {{/if}}
</div>